{% extends 'base.html' %}

{% block content %}

<div>
    <h2>직접 아티스트 추가하기</h2>
</div>

<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">이름 : </label>
        <input id="name" name="name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="real-name">본명 : </label>
        <input id="real-name" name="real-name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="nationality">국적 : </label>
        <input id="nationality" name="nationality" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="birth-date">생일 : </label>
        <input id="birth-date" name="birth-date" type="text" class="form-control" placeholder="YYYY-MM-DD">
    </div>

    <div class="form-group">
        <label for="constellation">별자리 : </label>
        <input id="constellation" name="constellation" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="blood-type">혈액형 : </label>
        <input id="blood-type" name="blood-type" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="intro">소개 : </label>
        <textarea name="intro" id="intro" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <button type="submit">등록</button>

</form>


<div>
    <h2>멜론에서 아티스트 검색하기</h2>
</div>

<form action="{% url 'artist:artist-search-from-melon' %}" method="">

    <label for="keyword">이름</label>
    <input id="keyword" name="keyword" type="text" placeholder="가수 이름">
    <button type="submit">검색</button>

</form>

{% endblock %}