{% extends 'base.html' %}

{% block content %}
<div class="artist-list-container">
    <a href="{% url 'artist:artist-add' %}"><h2>아티스트 추가하기</h2></a>
    <ul class="clearfix">
        {% for artist in artists %}
        <li class="clearfix">
            <a href="{% url 'artist:artist-detail' artist_pk=artist.pk %}">
            <img src="{% if artist.image %}{{ artist.image.url }}{% endif %}" alt="" class="cover">
                <div class="artist-info">
                    <div class="name">{{ artist.name }}</div>
                    <div>{{ artist.real_name }}</div>
                    <div>{{ artist.nationality }}</div>
                    <div>{{ artist.birth_date }}</div>
                    <div>{{ artist.constellation }}</div>
                    <div>{{ artist.get_blood_type_display }}</div>

                    {% if request.user.is_authenticated %}
                    <form action=" {% url 'artist:artist-like-toggle' artist_pk=artist.pk %}" method="post">
                        {% csrf_token %}
                        {% if request.user in artist.like_users.all %}
                            <button type="submit">좋아요 취소</button>
                        {% else %}
                            <button type="submit">좋아요</button>
                        {% endif %}
                    </form>

                    <form action=" {% url 'artist:artist-edit' artist_pk=artist.pk %}" method="">
                        {% csrf_token %}
                            <button type="submit">수정하기</button>
                    </form>
                    {% endif %}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="btn-container">
    <form action="{% url 'artist:artist-search-from-melon' %}" method="get" class="inline">
        {% csrf_token %}
        <button type="submit" class="btn">가수 검색하기</button>
    </form>
</div>
{% endblock %}