{% extends 'base.html' %}

{% block content %}

<div>
    <h2>직접 앨범 추가하기</h2>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in album_form %}
    <div>
        <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit"> 등록</button>
</form>


{% endblock %}