{% extends 'base.html' %}

{% block content %}

<div>
    <h1>Song Search</h1>
</div>

<form  method="get">
    <h1><a href="{% url 'song:song-search' %}">노래 검색</a></h1>

    <label for="keyword">제목 : </label>
    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="{{ request.GET.keyword }}">


    <button type="submit">검색하기</button>

</form>


{% for song_info in song_infos %}
{% include 'include/song_search_result.html' with type=song_info.type songs=song_info.songs only %}
{% endfor %}

{% endblock %}


