{% extends 'base.html' %}

{% block content %}

<div>
    <h1>Song Search</h1>
</div>

<form  method="get">
    <h1><a href="{% url 'song:song-search' %}">노래 검색</a></h1>
    <div >
        <label for="keyword">제목 : </label>
        <input id="keyword" name="keyword" type="text" class="form-control">
    </div>

    <button type="submit">검색하기</button>

</form>



    <h3>아티스트명에 포함</h3>
    <ul>
        {% for song in songs_from_artists %}
        <li>{{ song.title }}</li>
        {% endfor %}
    </ul>

    <h3>앨범명에 포함</h3>
        <ul>
            {% for song in songs_from_albums %}
            <li>{{ song.title }}</li>
            {% endfor %}
        </ul>

    <h3>노래제목에 포함</h3>
        <ul>
        {% for song in songs_from_titles %}
        <li>{{ song.title }}</li>
        {% endfor %}
        </ul>

{% endblock %}