{% extends 'base.html' %}

{% block content %}

<div>
    <h2>멜론에서 노래 검색하기</h2>
</div>

<form action="{% url 'song:song-search-from-melon' %}" method="">
    <label for="keyword">제목</label>
    <input id="keyword" name="keyword" type="text" placeholder="노래 제목">
    <button type="submit">검색</button>
</form>



<div>
    <h2>직접 노래 추가하기</h2>
</div>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in song_form %}
    <div>
        <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit"> 등록</button>
</form>


{% endblock %}