{% extends 'base.html' %}
{% load song_extras %}

{% block content %}
    <div class="">
        <a href="{% url 'song:song-add' %}"><h2>노래 추가하기</h2></a>
        <div class="btn-container">
            <form action="{% url 'song:song-search-from-melon' %}" method="get" class="inline">
                {% csrf_token %}
                <button type="submit" class="btn">노래 검색하기</button>
            </form>
        </div>
    </div>
        {% for song in songs %}
    <div class="song-list-wrap">
        <div class="song-list">
            <a href="{% url 'song:song-detail' song_pk=song.pk %}">
                <dl class>
                    <h2><dt>제목 : {{ song.title }}</dt></h2>
                    <dd>가수명 : {% for artist in song.artists.all %}{{ artist.name }} {% endfor %}</dd>
                    <dd>앨범명 : {{ song.album }}</dd>
                    <dd>장르 : {{ song.genre }}</dd>
                    <dd class="lyrics">가사 : {{ song.lyrics|ellipsis_line:4|linebreaksbr }}</dd>
                </dl>
            </a>
        </div>


        {% if request.user.is_authenticated %}
        <form action=" {% url 'song:song-like-toggle' song_pk=song.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next-path" value="{{ request.get_full_path }}">
            {% if request.user in song.like_users.all %}
                <button type="submit">좋아요 취소</button>
            {% else %}
                <button type="submit">좋아요</button>
            {% endif %}
        </form>

        <form action=" {% url 'song:song-edit' song_pk=song.pk %}" method="">
            {% csrf_token %}
                <button type="submit">수정하기</button>
        </form>
    </div>
    {% endif %}
    {% endfor %}


{% endblock %}