{% extends 'base.html' %}

{% block content %}
<a href="{% url 'song:song-add' %}"><h2>노래 추가하기</h2></a>
<div class="btn-container">
    <form action="{% url 'song:song-search-from-melon' %}" method="get" class="inline">
        {% csrf_token %}
        <button type="submit" class="btn">노래 검색하기</button>
    </form>
</div>
<dl>
    <h2>
        <dt>제목 : {{ song.title }}</dt>
    </h2>
    <dd>가수명 : {% for artist in song.artists.all %}{{ artist.name }} {% endfor %}</dd>
    <dd>앨범명 : {{ song.album }}</dd>
    <dd>장르 : {{ song.genre }}</dd>
    <dd>가사 : {{ song.lyrics }}</dd>
</dl>

{% if request.user.is_authenticated %}
<form action=" {% url 'song:song-like-toggle' song_pk=song.pk %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next-path" value="{{ request.get_full_path }}">
    {% if request.user in song.like_users.all %}
    <button type="submit">좋아요 취소</button>
    {% else %}
    <button type="submit">좋아요</button>
    {% endif %}
</form>

<form action=" {% url 'song:song-edit' song_pk=song.pk %}" method="">
    {% csrf_token %}
    <button type="submit">수정하기</button>
</form>

<form action=" {% url 'song:song-delete' song_pk=song.pk %}" method="">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</button>
</form>
{% endif %}


{% endblock %}