{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="signup-container">
	<div class="signup-header">
		<img src="{% static 'images/logo_large.png' %}" alt="">
	</div>
	<form action="" method="POST" class="clearfix">
		{% csrf_token %}


        {% for field in signup_form %}

        <div class="form-group clearfix">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

		<div>
			<button type="submit" class="btn btn-signup btn-theme">회원 가입</button>
		</div>
	</form>
</div>
{% endblock %}