{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Melon archive</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/artist-list.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'css/song-list.css' %}">
</head>
<body>
<div class="header-wrap">
    <header class="main-header">
        {% if request.user.is_authenticated %}
        <div>{{ request.user }}로 로그인 중입니다.</div>
        <div><a href="{% url 'logout' %}">로그아웃</a></div>
        {% else %}
        <div><a href="{% url 'login' %}">로그인 하세용</a></div>
        {% endif %}
        <div><a href="{% url 'signup' %}">가입하기</a></div>

        <div class="search-container">
            <img src="{% static 'images/logo.png' %}" alt="">
            <div class="input-container">
                <input type="text" class="search-input">
            </div>
        </div>
        <nav class="main-header-nav">
            <ul class='clearfix'>
                <li><a href="{% url 'artist:artist-list' %}">아티스트</a></li>
                <li><a href="{% url 'album:album-list' %}">앨범</a></li>
                <li><a href="{% url 'song:song-list' %}">곡</a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="content-block">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
